@import url("https://fonts.googleapis.com/css?family=Golos+Text&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text", sans-serif;
  line-height: 1.5;
}

.btn:disabled {
  pointer-events: auto !important;
}
